@namespace CEC.Blazor.Components.UIControls

@inherits ApplicationComponentBase

@if (this.Show)
{

    @if (this.IsHeader)
    {
        <th class="column-normal">
        </th>
    }
    else
    {
        <td class="column-normal text-right">
            <a class="badge badge-primary p-2 text-white cursor-hand" @onclick="(e => this.Navigate())">Edit</a>
        </td>
    }
}
