@namespace CEC.Blazor.Components.UIControls

@inherits UICardListBase

@if (this.Show)
{
    @if (this.DoNavigation)
    {
        <td class="@this.RowCss cursor-hand" scope="row" @onclick="(e => this.NavigateToView())">
            @this.ChildContent
        </td>
    }
    else
    {
        <td class="@this.RowCss" scope="row">
            @this.ChildContent
        </td>
    }
}
