@namespace CEC.Blazor.Components

@if (String.IsNullOrEmpty(this.HtmlLink))
{
    <div class="form-control-plaintext form-control-markup">@((MarkupString)this.Value)</div>
}
else
{
    <div class="form-control-plaintext form-control-markup">
        <a href="@this.HtmlLink" class="@this.LinkCss" role="button" aria-pressed="true">@((MarkupString)this.Value) </a>
    </div>

}

@code {

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public string HtmlLink { get; set; } = string.Empty;

    [Parameter]
    public string LinkCss { get; set; } = string.Empty;

    [Parameter]
    public bool UsePre { get; set; } = false;
}
