
@import "../imports/bootstrap/scss/functions";
@import "_variables.scss";

@import "../imports/bootstrap/scss/bootstrap";
@import "../wwwroot/css/open-iconic/font/css/open-iconic-bootstrap.min.css";
@import "overrides";
@import "addons";
