BODY, P, TD {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt
}

BODY {
    padding: 15px;
}

H2, H3, H4, H5 {
    color: #ff9900;
    font-weight: bold;
}

H2 {
    font-size: 13pt;
}

H3 {
    font-size: 12pt;
}

H4 {
    font-size: 10pt;
    color: black;
}

PRE {
    BACKGROUND-COLOR: #FBEDBB;
    FONT-FAMILY: "Courier New", Courier, mono;
    WHITE-SPACE: pre;
}

CODE {
    COLOR: #990000;
    FONT-FAMILY: "Courier New", Courier, mono;
}
