@inherits ComponentBase

@namespace CEC.Blazor.Components.UIControls

<UIContainerControl>

    <UIRowControl>

        <UICellControl Columns="12">
            @((MarkupString)this.Message)
        </UICellControl>

        <UICellButtonControl Columns="12">
            <button type="button" class="btn btn-danger" @onclick="(e => this.Close(true))">Exit</button>
            <button type="button" class="btn btn-success" @onclick="(e => this.Close(false))">Cancel</button>
        </UICellButtonControl>

    </UIRowControl>

</UIContainerControl>