@using CEC.Blazor.SPA.Components.FormControls
@using CEC.Blazor.SPA.Components
@using Microsoft.AspNetCore.Components.Forms


@namespace CEC.Weather.Components
@inherits ControlBase

<EditForm EditContext="this.EditContext">

    <table class="table">
        <tr>
            @if (this.ShowID)
            {
                <!--Farm-->
                <td>
                    <label class="" for="ID">Weather Station:</label>
                    <div class="">
                        <InputControlSelect OptionList="this.IdLookupList" @bind-Value="this.ID"></InputControlSelect>
                    </div>
                </td>
            }
            <td>
                <!--Month-->
                <label class="">Month:</label>
                <div class="">
                    <InputControlSelect OptionList="this.MonthLookupList" @bind-Value="this.Month"></InputControlSelect>
                </div>
            </td>
            <td>
                <!--Year-->
                <label class="">Year:</label>
                <div class="">
                    <InputControlSelect OptionList="this.YearLookupList" @bind-Value="this.Year"></InputControlSelect>
                </div>
            </td>
        </tr>
    </table>
</EditForm>