.grid-table {
  width: 100%;
  margin-bottom: 10px; }

.grid-table tr.grid-row {
  cursor: pointer; }

.grid-table .grid-row:nth-child(odd) {
  background-color: #f0f0ff; }

.grid-table .grid-row:hover {
  background-color: gainsboro; }

.grid-table .grid-col {
  padding: 4px 6px; }

.grid-table .grid-col-overflow {
  width: 100%; }

.grid-table .grid-col-header {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #e9ecef;
  white-space: nowrap;
  font-variant: small-caps; }

.grid-table h6 {
  font-size: 1.1rem;
  font-weight: 600;
  font-variant: small-caps; }

.grid-table .grid-sub-total {
  font-size: 1.0rem;
  font-weight: 500;
  font-variant: small-caps;
  border-top: 1px solid #8080c0; }

.grid-table .grid-total {
  font-size: 1.2rem;
  font-weight: 600;
  font-variant: small-caps;
  border-top: 4px double #404080;
  border-bottom: 1px solid #404080; }

.grid-table .grid-overflow {
  display: flex; }

.grid-table .grid-overflowinner {
  flex: 1;
  width: 1px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.grid-container {
  display: grid;
  grid-auto-columns: 1fr; }

.grid-container .grid-container-1 {
  grid-template-columns: 6fr; }

.grid-container .grid-container-2 {
  grid-template-columns: auto 6fr; }

.grid-container .grid-container-3 {
  grid-template-columns: auto auto 6fr; }

.grid-container .grid-container-4 {
  grid-template-columns: auto auto auto 6fr; }

.grid-container .grid-container-5 {
  grid-template-columns: auto auto auto auto 6fr; }

.grid-container .grid-container-6 {
  grid-template-columns: auto auto auto auto auto 6fr; }

.grid-container .grid-container-7 {
  grid-template-columns: auto auto auto auto auto auto 6fr; }

.grid-container .grid-container-8 {
  grid-template-columns: auto auto auto auto auto auto auto 6fr; }

.grid-container .col {
  padding: 2px 5px; }

.grid-container .col-1 {
  grid-column: 1; }

.grid-container .col-2 {
  grid-column: 2; }

.grid-container .col-3 {
  grid-column: 3; }

.grid-container .col-4 {
  grid-column: 4; }

.grid-container .col-5 {
  grid-column: 5; }

.grid-container .col-6 {
  grid-column: 6; }

.grid-container .col-7 {
  grid-column: 7; }

.grid-container .col-8 {
  grid-column: 8; }

.grid-container .col-9 {
  grid-column: 9; }

.grid-container .col-10 {
  grid-column: 10; }

.grid-container .col-11 {
  grid-column: 11; }

.grid-container .col-12 {
  grid-column: 12; }

.grid-container .col-13 {
  grid-column: 13; }

.grid-container .col-14 {
  grid-column: 14; }

.grid-container .col-15 {
  grid-column: 15; }

.grid-container .col-16 {
  grid-column: 16; }

.grid-container .col-centre {
  text-align: center; }

.grid-container .col-right {
  text-align: right; }

.grid-container .col-header {
  font-weight: 600;
  background-color: silver;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 10px; }

.grid-container .overflow {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.page-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
