
div.card-body-no-margin {
    padding: 0;
}

.table-responsive  td {
    white-space: nowrap;
}

td.td-max, td.td-max {
    max-width: 100%;
}

th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.iner .grid-col-overflow {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.td-max {
    width: 50%;
}

.td-max .overflow {
    display: flex;
}

.td-max .overflow-inner {
    flex: 1;
    width: 1px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
