@using System.Net.Http
@using System.Net.Http.Json
@using CEC.Blazor.SPA.Components
@using CEC.Blazor.SPA.Components.Forms
@using CEC.Blazor.SPA.Components.UIControls
@using CEC.Weather.Data
@using CEC.Weather.Components
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components

@implements IView

@namespace CEC.Weather.Components.Views

@inherits Component

<div class="bg-secondary text-white p-1 m-1">

    <div class="p-3 m-0">

        <h4>View</h4>

        <div class="container font-weight-bold">
            <div class="row">
                <div class="col">
                    Current count: @currentCount
                </div>
                <div class="col">
                    Object Current count: @objectcount
                </div>
                <div class="col">
                </div>
            </div>
        </div>
        <div class="text-right mt-2">
            <button class="btn btn-primary" @onclick="IncrementCount">Add Count</button>

            <button class="btn btn-primary" @onclick="IncrementObjectCount">Add Object Count</button>

            <button class="btn btn-info" @onclick="Render">Render</button>

            <button class="btn btn-warning" @onclick="ResetAsync">Reset</button>

            <button class="btn btn-danger" @onclick="Reload">Reload</button>
        </div>
        <div>
            <StaticViewer CurrentCount="this.currentCount" CounterInfo="this.counterInfo"></StaticViewer>

            <CounterViewer CurrentCount="this.currentCount" CounterInfo="this.counterInfo"></CounterViewer>

            <CounterControl CurrentCount="this.currentCount" counterInfo="this.counterInfo"></CounterControl>
        </div>
    </div>

    <div class="container m-0 p-0 small border-top">
        <div class="row">
            <div class="col">
                Current Renders: @currentRenders
            </div>
            <div class="col">
                Render Type: @renderType
            </div>
            <div class="col">
                Parameter Set Requests: @ParameterSetRequests
            </div>
        </div>
    </div>

</div>


