@using CEC.Blazor.Components.UIControls
@using CEC.Weather.Components
@using CEC.Blazor.Components.Base
@using CEC.Blazor.Components

@namespace CEC.Weather.Components.Views

@inherits Component

@implements IView

<p>This is the demo site for a set of Articles on Building Blazor Projects.</p>

<p>It's currently a work in progress!</p>

<UIHelloDiv>

</UIHelloDiv>

<SurveyPrompt Title="How is Blazor working for you?" />

